<?xml version='1.0' encoding='utf-8'?>
<widget id="pl.edu.zut.wi.lg53791" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gracjan 53791</name>
    <description>Weather App</description>
    <author email="lg53791@zut.edu.pl" href="https://www.wi.zut.edu.pl">
        Gracjan 53791
    </author>
    <content src="weather.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="electron">
    <icon src="res/electron/ikonadobra.png" />
    <preference name="ElectronSettingsFilePath" value="res/electron/settings.json" />
    </platform>
</widget>

